$cd-btn: #abc99a77;
$cd-txt: #042c21;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    background: #ffffff;
    color: $cd-txt;
    height: 100%;
    font-family: 'Roboto';
  }

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: $cd-btn;
    color: $cd-txt;
    font-size: 1rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transition: transform 200ms;
    &:hover {
        transform: scale(1.15);
    }
}